@font-face {
    font-family: 'Cocogoose';
    src: url('../fonts/Cocogoose.ttf') format('truetype');
    font-style: normal;
} 
  
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#container {
    display: grid;
    grid: 10vh 1fr / clamp(13rem, 18%, 20rem) 1fr;
    min-height: 100vh;
}

#header {
    grid-column: 1/3;
    background-color: #89d8d3b9;
    background-image: linear-gradient(315deg, #89d8d3bd 0%, #03c8a7b4 74%);
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-content: center;
    color: #fffcff;
}

#header p {
    font-family: 'Cocogoose';
    font-size: clamp(1rem, 1.5vw, 3rem);
    display: flex;
    align-items: center;
}

#header button{
    display: flex;
    align-items: center;
    gap: 0.1vw;
    font-weight: 600;
    font-size: clamp(1rem, 1.3vw, 4rem);
}

#header button img{
    width: clamp(1rem, 2.3vw, 3rem);
}

#sidebar{
    background-color: #e1e1e17c;
  
}

#mainContent{
    background-color: #d5fefd;
    background-image: linear-gradient(0deg, #d5fefd 0%, #fffcff 74%);
}

#addTaskForm {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.form-container{
    width:50vw;
    background:#e1e1e17c;
    border-radius:8px;
    box-shadow: 4px 4px 5px 0px #00000085;
    padding: 2vh 2vw;
}
  
.rowContainer{
    display: flex;
    gap: 1rem;
}
  
.form-buttons{
    display: flex;
    justify-content: end;
    gap: 1rem;
}
  
.inputContent{
    display:flex;
    flex-direction:column;
    margin-top: 2vh;
}
  
.form-container label{
    font-family: 'Montserrat', monospace;
    font-weight: 625;
    letter-spacing: .02rem;
    font-size: clamp(0.8rem, 1vw, 3rem)
}
  
.form-container h2{
    margin:0.5vh 0;
    padding-bottom:0.25vh;
    width:10vw;
    font-size: clamp(1rem, 1.3vw, 4rem);
    color:#78788c;
    border-bottom:3px solid #78788c;
}
  
.form-container input, .form-container textarea, .form-container select {
    width:100%;
    padding:0.9vh;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:2px solid #bebed2;
}
  
.form-container input:focus, .form-container textarea:focus, .form-container select:focus{
    border-bottom:2px solid #78788c
}
  
.form-container button{
    padding:0.5vh 0.5vw;
    margin:1vh 0 0;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:0;
    color:#5a5a6e;
    cursor:pointer;
    transition:all .3s;
    font-size: clamp(0.8rem, 1vw, 2rem);
}
  
.form-container button:hover{
    background:#78788c;
    color:#fff
}