@font-face {
    font-family: 'Cocogoose';
    src: url('../fonts/Cocogoose.ttf') format('truetype');
    font-style: normal;
} 
  
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#container {
    display: grid;
    grid: 10vh 1fr / clamp(13rem, 18%, 20rem) 1fr;
    min-height: 100vh;
}

#header {
    grid-column: 1/3;
    background-color: #89d8d3b9;
    background-image: linear-gradient(315deg, #89d8d3bd 0%, #03c8a7b4 74%);
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-content: center;
    color: #fffcff;
}

#header p {
    font-family: 'Cocogoose';
    font-size: clamp(1rem, 1.5vw, 3rem);
    display: flex;
    align-items: center;
}

#header button{
    display: flex;
    align-items: center;
    gap: 0.1vw;
    font-weight: 600;
    font-size: clamp(1rem, 1.3vw, 4rem);
}

#header button img{
    width: clamp(1rem, 2.3vw, 3rem);
}

#sidebar{
    background-color: #e1e1e17c;
  
}

#mainContent{
    background-color: #d5fefd;
    background-image: linear-gradient(0deg, #d5fefd 0%, #fffcff 74%);
}

#addTaskForm {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
