@font-face {
    font-family: 'Cocogoose';
    src: url('../fonts/Cocogoose.ttf') format('truetype');
    font-style: normal;
} 
  
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#container {
    display: grid;
    grid: 10vh 1fr / clamp(13rem, 18%, 20rem) 1fr;
    min-height: 100vh;
}

/* HEADER */
#header {
    grid-column: 1/3;
    background-color: #89d8d3b9;
    background-image: linear-gradient(315deg, #89d8d3bd 0%, #03c8a7b4 74%);
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-content: center;
    color: #fffcff;
}

#header p {
    font-family: 'Cocogoose';
    font-size: clamp(1rem, 1.5vw, 3rem);
    display: flex;
    align-items: center;
}

#header button{
    display: flex;
    align-items: center;
    gap: 0.1vw;
    font-weight: 600;
    font-size: clamp(1rem, 1.3vw, 4rem);
}

#header button img{
    width: clamp(1rem, 2.3vw, 3rem);
}

/* SIDERBAR */
#sidebar{
    background-color: #e1e1e17c;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    padding: 1rem;
}

#sidebar button{
    display: flex;
    align-items: center;
    gap: 0.5vw;
    font-weight: 400;
    font-size: clamp(1rem, 1vw, 4rem);
}

#sidebar button img{
    width: clamp(1rem, 1.25vw, 2rem);
}

#priorityOptions h1, #projectOptions h1{
    font-size: clamp(1rem, 1vw, 4rem);
    font-weight: 200;
}

#priorityOptions, #projectOptions{
    padding-left: 1rem;
}

#addProjectButton{
    opacity: 0.5;
}

/* ADD TASK FORM */
#addTaskFormContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.form-container{
    width:50vw;
    background:#e1e1e1;
    border-radius:8px;
    box-shadow: 4px 4px 5px 0px #000000af;
    padding: 2vh 2vw;
}
  
.rowContainer{
    display: flex;
    gap: 1rem;
}
  
.form-buttons{
    display: flex;
    justify-content: end;
    gap: 1rem;
}
  
.inputContent{
    display:flex;
    flex-direction:column;
    margin-top: 2vh;
}
  
.form-container label{
    font-family: 'Montserrat', monospace;
    font-weight: 625;
    letter-spacing: .02rem;
    font-size: clamp(0.8rem, 1vw, 3rem)
}
  
.form-container h2{
    margin:0.5vh 0;
    padding-bottom:0.25vh;
    width:10vw;
    font-size: clamp(1rem, 1.3vw, 4rem);
    color:#78788c;
    border-bottom:3px solid #78788c;
}
  
.form-container input, .form-container textarea, .form-container select {
    width:100%;
    padding:0.9vh;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:2px solid #bebed2;
}
  
.form-container input:focus, .form-container textarea:focus, .form-container select:focus{
    border-bottom:2px solid #78788c
}
  
.form-container button{
    padding:0.5vh 0.5vw;
    margin:1vh 0 0;
    font-family:'Montserrat',sans-serif;
    border:2px solid #78788c;
    background:0;
    color:#5a5a6e;
    cursor:pointer;
    transition:all .3s;
    font-size: clamp(0.8rem, 1vw, 2rem);
}
  
.form-container button:hover{
    background:#78788c;
    color:#fff
}


/* MAIN CONTENT - display Todo Items */
#mainContent{
    background-color: #d5fefd;
    background-image: linear-gradient(0deg, #d5fefd 0%, #fffcff 74%);
}

#todoContainer{
    padding: 35px 55px;
    max-width: 800px;
    margin: 0 auto;
}

.todoTask {
    display: grid;
    grid: 1fr 1fr 1fr / 2.5rem fit-content(300px) fit-content(300px) 1fr 20px 20px;
    margin-top: 3vh;
    border-bottom:1px solid #78788c;
}

.checkboxContainer {
    position: relative;
    grid-row: 1/4;
}
  
.checkboxContainer label {
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    width: clamp(1.5rem,max(2vh,2vw),2rem);
    height: clamp(1.5rem,max(2vh,2vw),2rem);
    left: 0;
    position: absolute;
    top: 0;
}
  
.checkboxContainer label:after {
    border: 2.5px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: calc(clamp(1.5rem,max(2vh,2vw),2rem)/4.67);
    left: calc(clamp(1.5rem,max(2vh,2vw),2rem)/5);
    opacity: 0;
    position: absolute;
    top: calc(clamp(1.5rem,max(2vh,2vw),2rem)/4.5);;
    transform: rotate(-45deg);
    width: calc(clamp(1.5rem,max(2vh,2vw),2rem)/2.33);
}
  
.checkboxContainer input[type="checkbox"] {
    visibility: hidden;
}
  
.checkboxContainer input[type="checkbox"]:checked + label {
    background-color: #bdbaba;
    border-color: #fefffe;
}
  
.checkboxContainer input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.onCheckbox{
    opacity: 0.5;
    text-decoration: line-through;
}

.todoTask h1{
    grid-column: 2/7;
    font-size: min(3vmin, 1.3rem)
}

.todoTask p:first-of-type{
    grid-column: 2/7;
}

.todoTask p{
    font-size: min(2.5vmin, 0.8rem);
    margin-right: 10px;
}

.todoTask p:nth-of-type(2):before {
    content: "";
    display: block;
    background: url("../images/calendar.svg") no-repeat;
    width: 15px;
    height: 15px;
    float: left;
    margin: 0 6px 0 0;
}

.todoTask p:nth-of-type(3):before {
    content: "";
    display: block;
    background: url("../images/folder.svg") no-repeat;
    width: 15px;
    height: 15px;
    float: left;
    margin: 0 6px 0 0;
}

.todoTask button:first-of-type {
    grid-column: 5/6;
    content: "";
    display: block;
    background: url("../images/edit.svg") no-repeat;
    width: 15px;
    height: 15px;
    float: left;
    margin: 0 6px 0 0;
    opacity: 0.6;
}

.todoTask button:nth-of-type(2) {
    grid-column: 6/7;
    content: "";
    display: block;
    background: url("../images/delete.svg") no-repeat;
    width: 15px;
    height: 15px;
    float: left;
    margin: 0 6px 0 0;
    opacity: 0.6;
}


@media (max-width: 768px) {
    #sidebar {
        display: none;
    }
    #mainContent{
        grid-column: 1/3;
    }
}